.gridBox {
    width: 400px;
    height: 400px;
    margin: 50px;
    border: 1px solid gray;
    float: left;
}

.row {
    width: 100%;
    height: 10%;
}

.cell {
    width: 10%;
    height: 100%;
    float: left;
    outline: 1px solid yellow;
}

.empty-cell {
    background: blue;
}

.occupied-cell {
    background: gray;
}

.hit-cell {
    background: red;
}

.missed-cell {
    background: aqua;
}
